<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet></router-outlet> -->
<div class="button__container" *ngIf="!isToken()">
  <button mat-raised-button color="primary" (click)="openLoginDialog()">
    Login
  </button>
  <button
    mat-stroked-button
    color="primary"
    (click)="openUserRegistrationDialog()"
  >
    Register
  </button>
</div>
<app-home-page *ngIf="isToken()"></app-home-page>
